/*main page*/
*{
  font-family:"Courier New", Courier, monospace;
  font-size:16px;
  color:white;
}

body {
  margin:0px;
}

.background{
  background-image:url(../img/background.jpg);
  background-repeat:no-repeat;
  background-position:center;
  max-width:100%;
  height:100%;
  margin:0px;
}


ul {
  max-width:1024px;
  padding:10px;
  margin:0px auto;
  text-align:center;
  background-color:rgba(128,128,128,0.5);
}

li{
  display:inline;
  padding:10px;
  margin:20px auto;
}

/*not sure
nav {
  background-color:rgba(128,128,128,0.5);
  position:fixed;
  top:0px;
  width:100%;
  z-index:100;
}*/

a{
  text-decoration:none;
}

#title, #introduction{
  padding:20px;
  margin:200px auto;
  text-align:center;
}

#title a{
  font-size:2em;
  font-style:normal;
}

footer {
  padding:20px;
  border-top:1px dashed white;
  margin:10px auto;
  text-align:center;
}

footer img{
  max-width:50px;
}

footer a:hover{
  opacity:0.5;
}
/*above is main page*/
/*aboutpage*/

#introduction {
   padding:20px 150px;
   margin:100px auto;
}

#introduction h1{
  font-size:1.5em;
  margin:10px 100px 50px;
}

#introduction img{
  max-width:50px;
}

#introduction h2{
  margin-top:30px;
}

/*above is aboutpage*/
/*video*/

.video{
  max-width:960px;
  margin:10px auto 0px;
  background-color:#ecebeb;
}

.video h1{
  width:25%;
  margin-right:10px;
  display:inline-block;
  font-size:1.5em;
  padding:5%;

}

.video p{
  width:40%;
  display:inline-block;
  padding-left:15%;
}

.video h1,.video p{
  vertical-align:center;
  color:#353535;
}


.footer2 {
  max-width:960px;
  background-color:rgba(128,128,128,0.5);
  clear:left;
  margin:0px auto;
  padding:20px 0px;
}

/*photojournalism*/
/*above is photojournalism*/
#container {
  width: 1044px;
  margin: 0 auto;
  background-color:#ecebeb;
}

#miami {  background-image:url(../photojournalism/miamiscene/miamiscenecover.jpg);
  background-repeat:no-repeat;
  background-position:center;
  width: 522px;
  height: 340px;
  display: block;
  text-align: center;
  float: left;
}

#littlehavana {  background-image:url(../photojournalism/littlehavana/littlehavanacover.jpg);
  background-repeat:no-repeat;
  background-position:center;
  width: 522px;
  height: 340px;
  display: block;
  text-align: center;
  float: left;
}

#moment {  background-image:url(../photojournalism/rina/moment.jpg);
  background-repeat:no-repeat;
  background-position:center;
  width: 522px;
  height: 340px;
  display: block;
  text-align: center;
  float: left;
}

#statues {  background-image:url(../photojournalism/daniela/statues.jpg);
  background-repeat:no-repeat;
  background-position:center;
  width: 522px;
  height: 340px;
  display: block;
  text-align: center;
  float: left;
}

#miami span, #littlehavana span, #moment span, #statues span{
  visibility: hidden;
  margin-top: 30%;
  display: block;
}

span {
  font-size:2em;
  color:white;
}

#container a:hover span {
  visibility: visible;
}

#miami:hover, #littlehavana:hover, #moment:hover, #statues:hover{
  opacity:0.5;
}

.footer3 {
  max-width:1044px;
  background-color:rgba(128,128,128,0.5);
  clear:left;
  margin:0px auto;
  padding:20px 0px;
}
/*above is photojournalism main page*/
/*photojournalism subpage*/
.container1{
  background-color:rgba(128,128,128,0.5);
  max-width:1044px;
  margin:0 auto;
}

.container1 section{
  background-color:#ecebeb;
  margin:0px auto;
}

.container1 h1, .container1 p{
  color:#353535;
}
.container1 h1{
  font-size:1.5em;
  text-align:center;
  padding:15px 10px;
  margin:0px auto;
  max-width:620px;
}

.container1 p{
  padding:10px;
  margin:0px;
}
/*above is photojournalism subpage*/

/*infographic*/


/*above is infographic*/
